{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Horizontal Two column</h4>
                  <form class="form-sample" method="post">
                    {% csrf_token %}
                   <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">S.No</label>
                          <div class="col-sm-6">
                            {{ form.id}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Asset No</label>
                          <div class="col-sm-6">
                            {{ form.asset_no}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Usage Type</label>
                          <div class="col-sm-6">
                            {{ form.usage_type}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">GEF ID Number</label>
                          <div class="col-sm-6">
                            {{ form.gef_id_number}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Machine Make</label>
                          <div class="col-sm-6">
                            {{ form.machine_make}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Machine Serial No</label>
                          <div class="col-sm-6">
                           {{ form.machine_serial_no}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Hdd Make</label>
                          <div class="col-sm-6">
                           {{ form.hdd_make}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">HDD Serial No</label>
                          <div class="col-sm-6">
                           {{ form.hdd_serial_no}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Processor </label>
                          <div class="col-sm-6" >
                           {{ form.processor}}
                          </div>
                        </div>



                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Location</label>
                          <div class="col-sm-6">
                            {{ form.location}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Employee ID</label>
                          <div class="col-sm-6">
                            {{ form.emp_id}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Machine Type</label>
                          <div class="col-sm-6">
                            {{ form.machine_type}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Domain Workgoup</label>
                          <div class="col-sm-6">
                            {{ form.domain_workgoup}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Machine Model No</label>
                          <div class="col-sm-6">
                           {{ form.machine_model_no}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">HDD</label>
                          <div class="col-sm-6">
                           {{ form.hdd}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Hdd Model</label>
                          <div class="col-sm-6">
                           {{ form.hdd_model}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Ram</label>
                          <div class="col-sm-6">
                           {{ form.ram}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Processor Purchase Date</label>
                          <div class="col-sm-9" type="date">
                           {{ form.processor_purchase_date}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <input type = "submit" value="Save">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>
              </div>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
{% endif %}
{% endblock %}